.game-board{
  border:1px solid black;
}

.grid{
  display:grid;
  grid-template-columns: 320px 200px;
}

.play-button {
  background-color: #4caf50;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}
